body {
  background-color: #a4b494;
  color: aliceblue;
}

.App {
  background-color: #382933;
  width: 700px;
  margin: 50px auto;
  min-height: 360px;
  padding: 25px 13px 13px;
  border-radius: 15px;
}

@media (max-width: 700px) {
  .App {
    width: 100%;
  }
}

@media (max-width: 415px) {
  .App {
    min-height: 100vh;
    margin: 0;
  }
}
